/* Arrow button */
.slick-prev:before,
.slick-next:before {
  color: rgb(0, 131, 131) !important;
  font-weight: bold;
  font-size: 35px !important;
}

.slick-prev:before {
  position: relative;
  left: -25px !important;
}

@media (min-width: 300px) and (max-width: 768px) {

  .slick-prev,
  .slick-next {
    display: none !important;
  }
}